:root {
  --primary-color: #31c27c;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f5f5f5;
  font-family: Microsoft Yahei;
  font-size: 14px;
  min-width: 1000px;
}

header {
  height: 90px;
  background: #fff;
  display: flex;
  align-items: center;
}

h1 {
  text-align: center;
}

.TopImage {
  width: 1200px;
  margin: auto;
}

.wrapper {
  width: 1200px;
  margin: auto;
}

section {
  padding: 47px 0 22px 0;
  background-image: linear-gradient(to bottom, #f2f2f2, #fdfdfd);
}

.recommended {
  width: 196px;
  background-image: url(../imgs/jingling.png);
  margin: 0 auto;
  height: 31px;
}

.new_start {
  width: 196px;
  background-image: url(../imgs/jingling.png);
  background-position: 0 -50px;
  margin: 0 auto;
  height: 31px;
}

.mv {
  width: 196px;
  background-image: url(../imgs/jingling.png);
  background-position: 0 -245px;
  margin: 0 auto;
  height: 31px;
}

h2>i {
  font-size: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.TopLabel {
  margin-top: 24px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.labelItem {
  display: inline-block;
  padding: 0 8px;
  margin-right: 24px;
  line-height: 26px;
  color: #000;
  text-decoration: none;
  font-size: 15px;
}

.labelItemActive {
  color: var(--primary-color);
}

.labelItem:not(.labelItemActive):hover {
  color: var(--primary-color);
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-bottom: 45px;
}

.cover-wrap {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;

  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cover-img {
  width: 100%;
  transition: all 0.75s;
}

.cover-mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0;
  transition: all 0.5s;
}

.cover-play {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -35px;
  margin-top: -35px;
  opacity: 0;
  transform: scale(0.7);
  transition: all 0.5s;
}

.cover-wrap:hover .cover-mask {
  opacity: 0.2;
}

.cover-wrap:hover .cover-play {
  opacity: 1;
  transform: scale(1);
}

.cover-wrap:hover .cover-img {
  transform: scale(1.07);
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;

  text-overflow: ellipsis;
}

.album-title {
  width: 150px;
}

.album-title:hover {
  color: var(--primary-color);
}

.album-author {
  color: #999;
  line-height: 1.6;
}

.album-author:hover {
  color: var(--primary-color);
}

.play_all {
  position: absolute;
  left: 0px;
  top: initial;
  margin-top: -10px;
  border: 1px solid #c9c9c9;
  color: #000;
  border-radius: 2px;
  font-size: 14px;
  margin-right: 6px;
  padding: 0 23px;
  height: 38px;
  line-height: 38px;
  display: inline-block;
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
}

.icon_play {
  width: 13px;
  height: 16px;
  top: 10%;
  position: relative;
  margin-right: 2px;
}

.newmusic-wrap {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 86px;
  box-sizing: border-box;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.newmusic-img {
  width: 86px;
  height: 86px;
  transition: all 0.75s;
}

.newmusic-wrap:hover .cover-mask {
  opacity: 0.2;
}

.newmusic-wrap:hover .cover-play {
  opacity: 1;
  transform: scale(0.58);
}

.newmusic-wrap:hover .newmusic-img {
  transform: scale(1.07);
}

.newmusic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  position: relative;
}

.tag {
  color: #000;
  line-height: 1.6;
  font-size: 14px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
  white-space: nowrap;
}

.tag_two {
  color: #999;
  line-height: 1.6;
  display: block;
}

.newlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px 15px;
  margin-top: 49px;
  margin-bottom: 45px;
}

.newitem {
  margin-left: 8px;
  bottom: 7.5px;
  position: relative;
}

.listen {
  display: flex;
  align-items: center;
}

.newmusic text {
  right: 0px;
  position: absolute;
  color: #999;
}

.icon_play_new {
  margin-right: 5px;
}

.tag1:hover {
  color: var(--primary-color);
}

.tag2:hover {
  color: var(--primary-color);
}

footer {
  background: #333;
  height: 200px;
}